In [1]:
import pandas as pd
import numpy as np

In [4]:
#Importing Data
sad = pd.read_csv("Emotion(sad).csv")
happy = pd.read_csv("Emotion(happy).csv")
angry = pd.read_csv("Emotion(angry).csv")

In [6]:
print(sad.shape)
print(happy.shape)
print(angry.shape)

(635, 2)
(708, 2)
(696, 2)

In [10]:
sad.head()

                                             content sentiment
0  Never hurt people who love you a lot, because ...       sad
1  Don’t expect me to tell you what you did wrong...       sad
2  I preferred walking away than fighting for you...       sad
3  Moving forward in life isn’t the hard part, it...       sad
4  Never cry for anyone in your life, because tho...       sad

In [13]:
sad = sad.drop_duplicates(subset='content', keep="first")
happy = happy.drop_duplicates(subset='content', keep="first")
angry = angry.drop_duplicates(subset='content', keep="first")

In [14]:
print(sad.shape)
print(happy.shape)
print(angry.shape)

(390, 2)
(704, 2)
(498, 2)

In [17]:
frames = [sad, happy, angry]
df = pd.concat(frames)
df.shape

(1592, 2)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1592 entries, 0 to 694
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   content    1592 non-null   object
 1   sentiment  1592 non-null   object
dtypes: object(2)
memory usage: 37.3+ KB

In [20]:
df.sample(5)

                                               content sentiment
347  Happiness is letting go of what you think your...     happy
12   Men have feelings too. For example, we feel hu...     happy
294  Don't be much closer to anybody because a smal...       sad
339  Do not aim to be better than the other person,...     happy
398  There Is No Excuse For Cheating In A Relations...     angry

In [23]:
df = df.drop_duplicates(subset='content', keep="first")
df.shape

(1586, 2)

In [28]:
df['sentiment'].value_counts()

happy    702
angry    494
sad      390
Name: sentiment, dtype: int64

In [29]:
# Replacing categorical values as happy = 1, angry = 2, sad = 0

In [30]:
df['sentiment'].replace({'happy':1,'angry':0,'sad':2},inplace=True)

In [31]:
df.sample(10)

                                               content  sentiment
358        Happiness is not a goal; it is a by-product          1
273  Sculpt away misery engraving happiness into yo...          1
324  Don’T Be So Happy, I Don’T Really Forgive Peop...          0
550  The best feeling is when you look at the one y...          1
197  If I delete your number, you are basically del...          2
656  Isn’t it funny how people think you won’t find...          0
568      You're the girl that I want to grow old with.          1
534  I Don't Ask For Much Because With You I Have E...          1
651  True love isn’t love at first sight but love a...          1
417  Every GIRL deserves a boy who can change her L...          1

In [32]:
#cleaning html tag

In [33]:
import re
def clean_html(text):
    
    clean = re.compile('<.*?>')
    return re.sub(clean, '',text)
    
df['content']=df['content'].apply(clean_html)

In [34]:
## converting to lower 

def convert_lower(text):
    return text.lower()

df['content']=df['content'].apply(convert_lower)

In [35]:


def remove_special(text):
        x=''
        for i in text:
            if i.isalnum():
                x=x+i
            else:
                x=x+' '
        return x

df['content']=df['content'].apply(remove_special)

In [37]:
import nltk
from nltk.corpus import stopwords

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y
df['content']=df['content'].apply(remove_stopwords)

In [38]:
def join_back(list_input):
    return " ".join(list_input)
    

df['content']=df['content'].apply(join_back)

In [39]:


import nltk

from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
y=[]

def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z
df['content']=df['content'].apply(stem_words)

In [40]:
def joinback2(list_input):
    return "".join(list_input)
    


df['content']=df['content'].apply(joinback2)

In [41]:
df

                                               content  sentiment
0    never hurt people love lot hurt back probably ...          2
1    expect tell wrong figure ready correct cos kno...          2
2    preferred walking away fighting worth fighting...          2
3    moving forward life hard part leaving behind s...          2
4    never cry anyone life cry deserve tears deserv...          2
..                                                 ...        ...
681  embarrassment anger biggest humiliation person...          0
685  strong man good wrestler strong man one contro...          0
687                          man big things make angry          0
693                    singing angry know punches face          0
694            telling someone calm makes much angrier          0

[1586 rows x 2 columns]

In [42]:
X=df['content']
X.shape

(1586,)

In [43]:
y=df.iloc[:,-1].values

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X, y, test_size=0.3, random_state = 0)

In [46]:
X_test.shape

(476,)

In [60]:
#using CountVectoriser
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1500)

In [48]:


X_train = cv.fit_transform(X_train).toarray()
X_test=cv.transform(X_test).toarray()

In [49]:


from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [50]:


clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [51]:


y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [52]:


from sklearn.metrics import accuracy_score

print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.4369747899159664
Multinomial 0.680672268907563
Bernaulli 0.6218487394957983

In [53]:
#Testing

In [54]:


test="i am sad & depressed too"

In [55]:


test = np.array([test])
test = cv.transform(test)

In [56]:


clf2.predict(test)

array([2], dtype=int64)

In [57]:
X1=df['content']
y=df.iloc[:,-1].values

In [59]:


from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X1, y, test_size=0.3, random_state = 0)

In [62]:
#uising Tfidf Vectoriser
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer(min_df= 1, max_features=1500, strip_accents='unicode',analyzer='word',ngram_range=(1,3),stop_words='english')

In [63]:


X_train = tv.fit_transform(X_train).toarray()
X_test = tv.transform(X_test).toarray()

In [64]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [65]:


clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [66]:


print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.542016806722689
Multinomial 0.6218487394957983
Bernaulli 0.5546218487394958

In [67]:


test="just go to jail"

In [68]:
test = np.array([angry['content'][0]])
test = tv.transform(test)

In [69]:


clf2.predict(test)

array([0], dtype=int64)